@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: Source Sans Pro, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button, input[type="button"], input[type="submit"]{
    outline: none;
    cursor: pointer;
}
/*********************************************/
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #e5e5e5;
}
tc{
    display: table-cell;
    vertical-align: middle;
}
h1{
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 0.225em;
    font-weight: 700;
    color: #444;
    margin: 1em auto 1.5em auto;
}
.loginContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
}
.loginFrame{
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    padding: 3em;
    background: white;
    box-shadow: 0px 0px 10px 0px #ccc;
    border-radius: 5px;
}
.l_input{
    width: 250px;
    margin: 0.5em auto;
    border: none;
    padding: 1em 0;
    border-bottom: 1px solid #e5e5e5;
    outline: none;
}
::-webkit-input-placeholder{
    text-transform: capitalize;
    letter-spacing: 0.1em;
    color: #bbb;
}
.login_submit{
    margin: 4em auto 0 auto;
    background: #6c46a8;
    border: 1px solid #6c46a8;
    padding: 1.5em 2.5em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.225em;
    border-radius: 5px;
    font-weight: 400;
    font-size: 0.7em;
}
.no_login{
    font-size: 0.8em;
    margin: 2em auto 0 auto;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px dotted #888;
    color: #888;
    font-weight: 300;
}
.login_error{
    color: red;
    display: none;
    opacity: 0;
    margin: 1em auto 0 auto;
    font-size: 0.9em;
    letter-spacing: 0.2em;
    animation-name: login_error;
    animation-duration: 2.5s;
}
@keyframes login_error{
    0%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.cmdWrapper{
    display: table;
    width: 100%;
    height: 100%;
}

.userField{
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 500px;
    box-shadow: 0px 0px 15px 0px rgba(8, 8, 8, 0.2);
    border-radius: 10px;
    text-align: center;
    background: white;
    position: relative;
    overflow: hidden;
    opacity: 0;
    margin-top: 40px;
    animation: userField 1s forwards;
}
@keyframes userField{
    100%{
        opacity: 1;
        margin-top: 0;
    }
}
.userTopSection{
    position: relative;
    width: 100%;
    height: 180px;
    background: url(../img/bg.jpg);
    background-size: cover;
    box-shadow: inset 0px -50px 40px 0px rgba(8, 8, 8, 0.5);
}
.pp{
    width: 90px;
    height: 90px;
    position: absolute;
    left: 4%;
    bottom: -40px;
    border-radius: 50%;
    border: 2px solid white;
    background: url(../img/pp.jpg);
    background-size: cover;
}
.name{
    width: 200px;
    position: absolute;
    bottom: 4%;
    left: 130px;
    text-align: left;
    font-size: 1.6em;
    letter-spacing: 0.2em;
    color: white;
}
.turn_off{
    width: 20px;
    position: absolute;
    bottom: 5%;
    right: 3%;
    cursor: pointer;
}
.navigator{
    
}